<div id="featured-posts" class="slick-initialized slick-slider">
  <div aria-live="polite" class="slick-list draggable">
    <div class="slick-track" style="opacity: 1; width: 1260px; transform: translate3d(0px, 0px, 0px);" role="listbox">
  		<article class="featured-post slick-slide slick-current slick-active" style="width: 295px; background-image: url(http://lark-ghost.mondotheme.com/content/images/2015/10/handofdavid.jpg);" data-slick-index="0" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide00">
        <div class="entry-content">
           <h3 class="entry-title"><a href="http://lark-ghost.mondotheme.com/stanford-researchers-make-artificial-skin-that-senses-touch/" rel="bookmark" tabindex="0">Stanford Researchers Make Artificial Skin That Senses Touch</a></h3>
           <span class="entry-meta">
           <a href="/tag/technology/" tabindex="0">Technology</a></span>
        </div>
     	</article>
		
     	<article class="featured-post slick-slide slick-current slick-active" style="width: 295px; background-image: url(http://lark-ghost.mondotheme.com/content/images/2015/10/handofdavid.jpg);" data-slick-index="0" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide00">
        <div class="entry-content">
           <h3 class="entry-title"><a href="http://lark-ghost.mondotheme.com/stanford-researchers-make-artificial-skin-that-senses-touch/" rel="bookmark" tabindex="0">Stanford Researchers Make Artificial Skin That Senses Touch</a></h3>
           <span class="entry-meta">
           <a href="/tag/technology/" tabindex="0">Technology</a></span>
        </div>
     	</article>
     	<article class="featured-post slick-slide slick-active" style="width: 295px; background-image: url(http://lark-ghost.mondotheme.com/content/images/2015/10/Chambray-Shirt-645-1.jpg);" data-slick-index="1" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide01">
        <div class="entry-content">
           <h3 class="entry-title"><a href="http://lark-ghost.mondotheme.com/3-new-ways-to-wear-your-favorite-chambray-shirt/" rel="bookmark" tabindex="0">3 New Ways to Wear Your Favorite Chambray Shirt</a></h3>
           <span class="entry-meta">
           <a href="/tag/fashion/" tabindex="0">Fashion</a></span>
        </div>
     	</article>
     	<article class="featured-post slick-slide slick-active" style="width: 295px; background-image: url(http://lark-ghost.mondotheme.com/content/images/2015/10/best-rugs-gear-patrol-970-1.jpg);" data-slick-index="2" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide02">
        <div class="entry-content">
           <h3 class="entry-title"><a href="http://lark-ghost.mondotheme.com/where-to-buy-your-next-rug/" rel="bookmark" tabindex="0">Where to Buy Your Next Rug</a></h3>
           <span class="entry-meta">
           <a href="/tag/buying-guides/" tabindex="0">Buying Guides</a></span>
        </div>
     	</article>
     	<article class="featured-post slick-slide slick-active" style="width: 295px; background-image: url(http://lark-ghost.mondotheme.com/content/images/2015/10/best-rugs-gear-patrol-970-1.jpg);" data-slick-index="2" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide02">
        <div class="entry-content">
           <h3 class="entry-title"><a href="http://lark-ghost.mondotheme.com/where-to-buy-your-next-rug/" rel="bookmark" tabindex="0">Where to Buy Your Next Rug</a></h3>
           <span class="entry-meta">
           <a href="/tag/buying-guides/" tabindex="0">Buying Guides</a></span>
        </div>
     	</article>
     	<article class="featured-post slick-slide slick-active" style="width: 295px; background-image: url(http://lark-ghost.mondotheme.com/content/images/2015/10/best-rugs-gear-patrol-970-1.jpg);" data-slick-index="2" aria-hidden="false" tabindex="0" role="option" aria-describedby="slick-slide02">
        <div class="entry-content">
           <h3 class="entry-title"><a href="http://lark-ghost.mondotheme.com/where-to-buy-your-next-rug/" rel="bookmark" tabindex="0">Where to Buy Your Next Rug</a></h3>
           <span class="entry-meta">
           <a href="/tag/buying-guides/" tabindex="0">Buying Guides</a></span>
        </div>
     	</article>
    </div>
  </div>
</div>